{% extends "layout.html" %}
{% block title %} Terveyspäiväkirja {% endblock %}
{% block content %}

    <h1>Terveyspäiväkirja</h1>
    <p>Tervetuloa terveyspäiväkirjaan! Tällä sovelluksella voit seurata 
        terveyttäsi ja pitää ruoka-, treeni- ja unipäiväkirjaa. Voit 
        myös tehdä ruokasuunnitelmia ja tallentaa reseptejä ja 
        treeniohjelmia.
    </p>

    {% if session.user_id %}
    
        <p>Olet kirjautunut käyttäjänimellä {{ user.username }}.</p>

    {% else %}
        <form action="/" method="POST">
            <p>Tunnus:<br>
                <input type="text" name="username"></p>
            <p>Salasana:<br>
                <input type="password" name="password"></p>
                <input class="submitbutton", type="submit" value="Kirjaudu">
        </form>

    {% endif %}


{% endblock %}

{% block footer %}
{% endblock %}