{% extends "layout.html" %}
{% block title %} Terveyspäiväkirja {% endblock %}
{% block content %}

<div class="container">
    {% if session.user_id %}
    
        <p>Olet kirjautunut käyttäjänimellä {{ user.username }}.</p>

    {% else %}
        <form action="/" method="POST">
            <table class="inputtable">
                <tr><td>Tunnus:</td><td><input type="text" name="username"></td></tr>
                <tr><td>Salasana:</td><td><input type="password" name="password"></td></tr>
            </table>
            <input class="submitbutton", type="submit" value="Kirjaudu">
        </form>
    {% endif %}
</div>

{% endblock %}

{% block footer %}
{% endblock %}