{% extends "layout.html" %}
{% block title %} Terveyspäiväkirja {% endblock %}
{% block content %}

<div class="container">
    {% if session.user_id %}
    
        <p>Olet kirjautunut käyttäjänimellä {{ user.username }}.</p>

    {% else %}
        <form action="/" method="POST">
            <p>Tunnus:<br>
                <input type="text" name="username"></p>
            <p>Salasana:<br>
                <input type="password" name="password"></p>
                <input class="submitbutton", type="submit" value="Kirjaudu">
        </form>

    {% endif %}
</div>

{% endblock %}

{% block footer %}
{% endblock %}