{% extends "layout.html" %}
{% block title %} Uusi liike {% endblock %}
{% block content %}

    <h1>Uusi liike</h1>

    <div class="container">
        <h2>Luo uusi liike</h2>
        <p>Luo uusi liike ja lisää sille vähintään yksi kategoria. Voit myös
            antaa ohjeet liikkeen suorittamiseen.
        </p>

        <form action="/moves/new" method="POST">
            <table class="inputtable">
                <tr><td>Nimi:</td><td><input type="text" name="name"></td></tr>
                <tr><td>Kategoria:</td><td><input type="text" name="category"></td></tr>
                <tr><td>Ohjeet:</td><td><textarea name="instructions" rows="3" cols="50"></textarea></td></tr>
            </table>
            <br>
            <input class="submitbutton", type="submit" value="Tallenna">
        </form>
    </div>

    <div class="container">
        <h2>Lista tallennetuista liikkeistä</h2>
        <ul>
            {% for move in moves %}
            <li><table class="listtable">
                <tr><td>Nimi:</td><td>{{ move.name }}</td></tr>
                <tr><td>Kategoria:</td><td>{{ move.category }}</td></tr>
                <tr><td>Ohjeet:</td><td>{{ move.instructions }}</td></tr>
            </table></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}