{% extends "layout.html" %}
{% block title %} Uusi treeniohjelma {% endblock %}
{% block content %}

    <h1>Uusi treeniohjelma</h1>

    <div class="container">
        <p>Tästä voit luoda uuden treeniohjelman.
            Voit valita liikkeet ja muokata toistojen ja sarjojen määrää sekä 
            vastusta treeniohjelman luomisen jälkeen.
        </p>
    
        <form action="/user/{{ user[0] }}/routines/new" method="POST">
            <p>Nimi: <input type="text" name="name"></p>
            <p>Kategoria: <input type="text" name="category"></p>
            <p>Ohjeet: <input type="text" name="instructions"></p>
            <input class="submitbutton", type="submit" value="Tallenna">
        </form>

        <form action="/user/{{ user[0] }}/routines">
            <input class="linkbutton", type="submit" value="Takaisin listaukseen">
        </form>

    </div>

{% endblock %}

{% block footer %}
{% endblock %}