{% extends "layout.html" %}
{% block title %} Uusi treeniohjelma {% endblock %}
{% block content %}

    <h1>Uusi treeniohjelma</h1>

    <div class="container">
        <p>Tästä voit luoda uuden treeniohjelman.
            Voit valita liikkeet ja muokata toistojen ja sarjojen määrää sekä 
            vastusta treeniohjelman luomisen jälkeen.
        </p>
    
        <br>
        <form action="/user/{{ user[0] }}/routines/new" method="POST">
            <table class="inputtable">
                <tr><td>Nimi:</td><td><input type="text" name="name"></td></tr>
                <tr><td>Kategoria:</td><td><input type="text" name="category"></td></tr>
                <tr><td>Ohjeet:</td><td><textarea name="instructions" rows="3" cols="50"></textarea></td></tr>
            </table>
            <br>
            <input class="submitbutton", type="submit" value="Tallenna">
        </form>

        <br>
        <form action="/user/{{ user[0] }}/routines">
            <input class="linkbutton", type="submit" value="Takaisin listaukseen">
        </form>

    </div>

{% endblock %}

{% block footer %}
{% endblock %}