{% extends "layout.html" %}
{% block title %} Omat treeniohjelmat {% endblock %}
{% block content %}

    <h1>Tallennetut treeniohjelmat</h1>
    
    <div class="container">
        <p>Luo uusi treeniohjelma painikkeesta "Uusi treeniohjelma".</p>

        <form action="/user/{{ user[0] }}/routines/new">
            <input class="linkbutton",  type="submit" value="Uusi treeniohjelma">
        </form>
    </div>

    
    <div class="container">
        <ul>
            {% for routine in routines %}
                <li><p>Nimi: {{ routine.name }}</p>
                <p>Kategoria: {{ routine.category }}</p>
                <form action="/user/{{ user[0] }}/routines/{{ routine[0] }}">
                    <input class="linkbutton",  type="submit" value="Tarkastele treeniohjelmaa">
                </form></li>
            {% endfor %}
        </ul>>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}