{% extends "layout.html" %}
{% block title %} Muuta käyttäjätietoja {% endblock %}
{% block content %}

    <h1>Muuta käyttäjätietoja</h1>
    
    <div class="container">
        <form action="/user/{{ user[0] }}/update" method="POST">
            
            <h2>Muuta tietoja</h2>
            <p>Käyttäjätunnus: {{ user.username }}</p>
            <p>Muuta käyttäjätunnusta:<input type="text" name="name"></p>
            <br>
            
            <p>Nimi: {{ user.name }}</p>
            <p>Muuta nimeä:<input type="text" name="name"></p>
            <br>
            
            <p>Syntymäaika: {{ user.birth_date }}</p>
            <p>Muuta syntymäaikaa:<input type="date" name="birth_date"></p>
            <br>
            
            <p>Pituus: {{ user.height }}</p>
            <p>Muuta pituutta:<input type="integer" name="height"></p>
            <br>
            
            <p>Paino: {{ user.weight }}</p>
            <p>Paino<input type="integer" name="weight"></p>        
            <br>
            <input class="submitbutton", type="submit" value="Muuta tietoja">
        </form>
    </div>
     
    <div class="container">
        <form action="/user/{{ user[0] }}/change_password" method="POST">
            <h2>Muuta salasanaa</h2>
            <p>Vanha salasana:<input type="password" name="old_password"></p>
            <p>Salasana:<input type="password" name="password"></p>
            <p>Salasana uudestaan:<input type="password" name="password_again"></p>
            <br>
            <input class="submitbutton", type="submit" value="Muuta tietoja">
        </form>
    </div>


    <div class="container">
        <form action="/user/{{ user[0] }}/delete" method="POST">
            <h2>Poista käyttäjä</h2>
            <p>Anna salasana:<input type="password" name="password"></p>
            <br>
            <input class="submitbutton", type="submit" value="Poista käyttäjä">
        </form>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}