{% extends "layout.html" %}
{% block title %} Muokkaa treeniohjelmaa {% endblock %}
{% block content %}

    <h1>Muokkaa treeniohjelmaa</h1>
    
    <div class="container">
        <h2>Muuta tietoja</h2>
        <form action="/user/{{ user[0] }}/routines/{{ routine[0] }}/update" method="POST">            
            <table class="inputtable">
                <tr><td>Nimi:</td><td>{{ routine.name }}</td></tr>
                <tr><td>Muuta nimeä:</td><td><input type="text" name="name"></td></tr>
            <br>
                <tr><td>Kategoria:</td><td>{{ routine.category }}</td></tr>
                <tr><td>Muuta kategoriaa:</td><td><input type="text" name="category"></td></tr>
            <br>
                <tr><td>Ohjeet:</td><td>{{ routine.instructions }}</td></tr>
                <tr><td>Muuta ohjeita:</td><td><textarea name="instructions" rows="3" cols="50"></textarea></td></tr>
            </table>
            <br>
            <input class="submitbutton", type="submit" value="Muuta tietoja">
        </form>

        <br>
        <form action="/user/{{ user[0] }}/routines/{{ routine[0] }}">
            <input class="linkbutton",  type="submit" value="Palaa treeniohjelmaan">
        </form>
    </div>

    {% if moves%}
        <div class="container">
            <h2>Poista liikkeitä</h2>
            <form action="/user/{{ user[0] }}routines/{{ routine[0] }}/delete_moves" method="POST">            
                <table class="movetable">
                    <tr>
                        <th>Nimi</th>
                        <th>Sarjat</th>
                        <th>Toistot</th>
                        <th>Vastus (kg)</th>
                        <th>Poista</th>
                    </tr>
                    {% for move in moves %}
                    <tr>
                        <td>{{ move.move_name }}</td>
                        <td>{{ move.sets }}</td>
                        <td>{{ move.reps }}</td>
                        <td>{{ move.load }} kg</td>
                        <td><input type="checkbox" name="move_id" value="{{ move.id }}"></td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <input class="submitbutton", type="submit" value="Poista valitut liikkeet">
            </form>
        </div>
    {% endif %}
    
    <div class="container">
        <h2>Lisää liikkeitä</h2>
        <form action="/user/{{ user[0] }}/routines/{{ routine[0] }}/add_moves" method="POST">
            <table class="movetable">
                <tr>
                    <th>Nimi</th>
                    <th>Valitse</th>
                    <th>Sarjat</th>
                    <th>Toistot</th>
                    <th>Vastus (kg)</th>
                </tr>
                {% for move in all_moves %}
                <tr>
                    <td>{{ move.name }}</td>
                    <td><input type="checkbox" name="move_id" value="{{ move.id }}"></td>
                    <td><input type="integer" id="numberinput" name="sets{{ move.id }}"></td>
                    <td><input type="integer" id="numberinput" name="reps{{ move.id }}"></td>
                    <td><input type="float" id="numberinput" name="load{{ move.id }}"></td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <input class="submitbutton", type="submit" value="Lisää liikkeet">
        </form>

        <br>
        <form action="/moves/new">
            <input class="linkbutton", type="submit" value="Luo uusi liike">
        </form>
    </div>

    <div class="container">
        <form action="/user/{{ user[0] }}/routines/{{ routine[0] }}/delete" method="POST">
            <h2>Poista treeniohjelma</h2>
            <input class="submitbutton", type="submit" value="Poista treeniohjelma">
        </form>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}