{% extends "layout.html" %}
{% block title %} Muokkaa harjoitusta {% endblock %}
{% block content %}

    <h1>Muokkaa harjoitusta</h1>
    
    <div class="container">
        <form action="/user/{{ user[0] }}/workouts/{{ workout[0] }}/update" method="POST">            
            <h2>Muuta tietoja</h2>
            <table class="inputtable">
                <tr><td>Nimi:</td><td>{{ workout.name }}</td></tr>
                <tr><td>Muuta nimeä:</td><td><input type="text" name="name"></td></tr>
            <br>
                <tr><td>Aika:</td><td>{{ workout.time.strftime("%d.%m.%Y %H:%M") }}</td></tr>
                <tr><td>Muuta aikaa:</td><td><input type="datetime-local" name="time"></td></tr>
            <br>
                <tr><td>Kategoria:</td><td>{{ workout.category }}</td></tr>
                <tr><td>Muuta kategoriaa:</td><td><input type="text" name="category"></td></tr>
            <br>
                <tr><td>Lisätietoja:</td><td>{{ workout.comments }}</td></tr>
                <tr><td>Muuta lisätietoja:</td><td><textarea name="comments" rows="3" cols="50"></textarea></td></tr>
            </table>
            <br>
            <input class="submitbutton", type="submit" value="Muuta tietoja">
        </form>
    </div>
    
    <div class="container">
        <form action="/user/{{ user[0] }}/workouts/{{ workout[0] }}">
            <input class="linkbutton",  type="submit" value="Palaa harjoitukseen">
        </form>
    </div>

    {% if moves %}
        <div class="container">
            <h2>Poista liikkeitä</h2>
            <form action="/user/{{ user[0] }}/workouts/{{ workout[0] }}/delete_moves" method="POST">            
                <table class="movetable">
                    <tr>
                        <th>Nimi</th>
                        <th>Sarjat</th>
                        <th>Toistot</th>
                        <th>Vastus (kg)</th>
                        <th>Poista</th>
                    </tr>
                    {% for move in moves %}
                    <tr>
                        <td>{{ move.move_name }}</td>
                        <td>{{ move.sets }}</td>
                        <td>{{ move.reps }}</td>
                        <td>{{ move.load }} kg</td>
                        <td><input type="checkbox" name="move_id" value="{{ move.move_id }}"></td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <input class="submitbutton", type="submit" value="Poista valitut liikkeet">
            </form>
        </div>
    {% endif %}


    <div class="container">
        <form action="/user/{{ user[0] }}/workouts/{{ workout[0] }}/delete" method="POST">
            <h2>Poista harjoitus</h2>
            <input class="submitbutton", type="submit" value="Poista harjoitus">
        </form>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}