{% extends "layout.html" %}
{% block title %} Omat harjoitukset {% endblock %}
{% block content %}

    <h1>Tallennetut harjoitukset</h1>

    <div class="container">
        <p>Luo uusi harjoitus painikkeesta "Uusi harjoitus".</p>

        <form action="/user/{{ user[0] }}/workouts/new">
            <input class="linkbutton",  type="submit" value="Uusi harjoitus">
        </form>
    </div>
    

    <div class="container">
        <ul>
            {% for workout in workouts %}
                <li><p>Nimi: {{ workout.name }}</p>
                <p>Aika: {{ workout.time.strftime("%d.%m.%Y %H:%M") }}</p>
                <form action="/user/{{ user[0] }}/workouts/{{ workout[0] }}">
                    <input class="linkbutton",  type="submit" value="Tarkastele harjoitusta">
                </form></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}