{% extends "layout.html" %}
{% block title %} Omat harjoitukset {% endblock %}
{% block content %}

    <h1>Tallennetut harjoitukset</h1>

    <div class="container">
        <p>Luo uusi harjoitus painikkeesta "Uusi harjoitus".</p>

        <a href="/user/{{ user[0] }}/workouts/new">Uusi harjoitus</a>
    </div>
    

    <div class="container">
        <hr>
        {% for workout in workouts %}
            Nimi: {{ workout[1] }} <br>
            Luotu: {{ workout[2].strftime("%Y-%m-%d %H:%M:%S") }} <br>
            <a href="/user/{{ user[0] }}/workouts/{{ workout[0] }}">Tarkastele harjoitusta</a>
        <hr>
        {% endfor %}
    </div>

{% endblock %}

{% block footer %}
    <a href="/user/{{ user[0] }}">Takaisin käyttäjäsivulle</a>
{% endblock %}